<div class="authWrapper">
  <!-- LOGIN TEMPLATE -->
  <div class="authForm" *ngIf="authType === 'login'">
    <app-page-logo
      [routerLink] = "['/']"
    ></app-page-logo>
    <form>
      <div class="formItem">
        <input class="formField" type="text" placeholder="Email"/>
      </div>
      <div class="formItem">
        <input class="formField" type="password" placeholder="Passwort"/>
      </div>
      <button class="submitButton">Login</button>
    </form>
  </div>
  <!-- SIGNUP TEMPLATE -->
  <div class="authForm" *ngIf="authType === 'signup'">
    <app-page-logo
      [routerLink] = "['/']"
    ></app-page-logo>
    <form>
      <div class="formItem">
        <input class="formField" type="text" placeholder="Email"/>
      </div>
      <div class="formItem">
        <input class="formField" type="password" placeholder="Passwort"/>
      </div>
      <div class="formItem">
        <input class="formField" type="password" placeholder="Passwort wiederholen"/>
      </div>
      <button class="submitButton">Registrieren</button>
    </form>
    <div class="formItem" *ngIf="waitingForEmailCode">
      <p>Wir haben an die genannte Email einen Code versendete.<br> Bitte diesen in dieses Feld eintragen</p>
      <input class="formField" type="text" placeholder="Bestätigungscode eingeben"/>
      <button class="submitButton">Code bestätigen</button>
    </div>
  </div>
</div>
