@import "../../../variables.scss";

.logoWrapper {
  display: flex;
  cursor: pointer;
  .logoText {
    margin: 0;
    color:white;
    @include media-breakpoint-xs {
      font-size: 20px;
    }
  }
  .logoBeacon {
    height: 40px;
    .small {
      height: 20px;
    }
    @include media-breakpoint-xs {
      height: 20px;
    }
  }
  .left {
    margin-right: 10px;
  }
  .right {
    margin-left: 10px;
  }

  .small {
    height: 30px;
    font-size: 20px;
  }
}

