<app-sponsor-header></app-sponsor-header>
<div class="wrapper">
  <!-- Oppenets and match results- -->
  <div class="contentOpponents">
    <div class="itemCard">
      <div class="header">
        Heimteam
      </div>
      <div class="body">
        {{GameData.homeTeam}}
      </div>
    </div>
    <div class="itemCard">
      <div class="header">
        Ergebnis
      </div>
      <div class="body resultTile">
        00 : 00
      </div>
    </div>
    <div class="itemCard">
      <div class="header">
        Auswärtsteam
      </div>
      <div class="body">
        {{GameData.guestTeam}}
      </div>
    </div>
  </div>
  <div class="matchDetails">
    <div class="itemCard">
      <div class="header">
        Spieldetails
      </div>
      <div class="body">
        ehfajskf
      </div>
    </div>
    <div class="itemCard">
      <div class="header">
        Austragungsort
      </div>
      <div class="body">
        ehfajskf
      </div>
    </div>
  </div>

</div>
