<div class="footerWrapper">
  <div class="footerLight">
    <div class="socialMediaWrapper">
      <p>Social Media Kanäle</p>
      <div class="iconWrapper">
        <img class="socialIcon" src="/assets/icon-facebook.png" />
        <img class="socialIcon" src="/assets/icon-instagram.png" />
        <img class="socialIcon" src="/assets/icon-tiktok.png" />

      </div>

    </div>
    <div class="verbandsWrapper">
      <p>Teil des</p>
      <img src="/assets/hvsh-logo.png" />
    </div>
    <div class="adressWrapper">
      <p>
        <span>HG REGION FÖRDE</span><br>
        Winterbeker Weg 49<br>
        24114 Kiel
      </p>

    </div>
  </div>
  <div class="footerDark">
    <p></p>
    <p class="copyright">
      Copyright 2022 Handballgemeinschaft Region Förde
    </p>

    <a [routerLink] = "['/impressum']" class="impress">Impressum</a>
  </div>
</div>
