@import "../../../variables.scss";
.articleWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .article {
    width: 1020px;
    @include media-breakpoint-md {
      width: 100%;

    }
    .contentArea {
      @include media-breakpoint-md {
       padding-right: 5px;
        padding-left: 5px;
      }
      padding-bottom: 20px;
    }
    margin-top: 5px;
    .articleImage {
      width: 100%;
      border-radius: 2px;
      height: 300px;
      object-fit: cover;
    }
    .timestamp {
      font-size: 12px;
    }
    .authorText {
      display: flex;
      align-items: center;
      font-size: 15px;
      margin-bottom: 15px;
      img {
        margin-right: 5px;
      }
    }
    h1 {
      margin: 0;
    }
    h2 {
      margin: 0;
      margin-top: 15px;
    }

    .articleTextImage {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 2px;
      margin-top: 15px;
    }
    .imgDescription {
      font-size: 12px;
    }
  }

}
