
<div class="articleWrapper">
  <div class="article">
    <img class="articleImage" src="{{articleImageUrl}}" />
    <div class="contentArea">
      <span class="timestamp">{{this.articleObject.createdAt | date: 'dd/MM/yyyy'}}</span>
      <br>
      <h1 class="articleTitle">{{this.articleObject.Titel}}</h1>
      <span class="authorText"><img style="height:14px;" src="/assets/icon-person.png" />{{this.articleObject.Author}}</span>
      <div *ngFor="let item of contentItems; index as i">
        <div *ngIf="item.itemtype === 'Richtextblock'">
          <app-editorjs-wrapper [jsonInput]="item.data"></app-editorjs-wrapper>
        </div>
        <div *ngIf="item.itemtype === 'MatchContent'" style="margin-bottom: 15px" class="matchItemWrapper">
          <div class="teamWrapper">
            <img class="teamLogo"[src]="env.strapiUrl + item.data.HeimLogo.data.attributes.url" />
            <h2>{{item.data.Heimmannschaft}}</h2>
          </div>
          <div class="matchInfos">
            <p style="font-weight: bold;">{{item.data.Spielklasse}}</p>
            <div class="gamePlace">
              <img src="/assets/icons/location.png" />
              <p>{{item.data.Spielort}}</p>
            </div>
            <p>{{item.data.Anwurfzeit | date:'short':'+01:00':'de-DE'}}</p>
           
          </div>
          <div class="teamWrapper">
            <img class="teamLogo"[src]="env.strapiUrl + item.data.Auswaertslogo.data.attributes.url" />
            <h2>{{item.data.Auswaertsmannschaft}}</h2>
          </div>

        </div>

      </div>
      <!--
        <div  *ngFor="let item of articleObject.Contentarea; index as i">
        <div  *ngIf="item.__typename === 'ComponentRichtextblockRichTextBlock'">
          {{item.Text}}

          <markdown>
          </markdown>
        </div>
        <div *ngIf="item.__typename === 'ComponentArtikelbildArtikelbild'" style="margin-bottom: 15px">
          <img class="articleTextImage" src="{{env.strapiUrl + item.Bild.data.attributes.url}}" />
          <span class="imgDescription">{{item.Beschreibung}}</span>
        </div>
        <div *ngIf="item.__typename === 'ComponentMatchContentMatchContent'" style="margin-bottom: 15px" class="matchItemWrapper">
          <div class="teamWrapper">
            <img class="teamLogo"[src]="env.strapiUrl + item.HeimLogo.data.attributes.url" />
            <h2>{{item.Heimmannschaft}}</h2>
          </div>
          <div class="matchInfos">
            <p style="font-weight: bold;">{{item.Spielklasse}}</p>
            <div class="gamePlace">
              <img src="/assets/icons/location.png" />
              <p>{{item.Spielort}}</p>
            </div>
            <p>{{item.Anwurfzeit | date:'short':'+01:00':'de-DE'}}</p>
           
          </div>
          <div class="teamWrapper">
            <img class="teamLogo"[src]="env.strapiUrl + item.Auswaertslogo.data.attributes.url" />
            <h2>{{item.Auswaertsmannschaft}}</h2>
          </div>

        </div>
      </div>
      -->
      



    </div>


  </div>

</div>


