<div class="articleWrapper" @fadeIn>
  <div class="article">
    <img class="articleImage" src="{{articleImageUrl}}" />
    <div class="contentArea">
      <span class="timestamp">{{articleDate}}</span>
      <br>
      <h1 class="articleTitle">{{articleObject.Titel}}</h1>
      <span class="authorText"><img style="height:14px;" src="/assets/icon-person.png" />{{articleObject.Author}}</span>
      <div  *ngFor="let item of articleObject.Contentarea; index as i">
        <div  *ngIf="item.__typename === 'ComponentRichtextblockRichTextBlock'">
          <markdown>
            {{item.Text}}
          </markdown>
        </div>
        <div *ngIf="item.__typename === 'ComponentArtikelbildArtikelbild'" style="margin-bottom: 15px">
          <img class="articleTextImage" src="{{env.strapiUrl + item.Bild.data.attributes.url}}" />
          <span class="imgDescription">{{item.Beschreibung}}</span>
        </div>
      </div>
    </div>


  </div>

</div>
