.newsCard {
  height: 100%;
  @apply
  bg-white;
  .articleImage {
    @apply 
    h-32
    lg:h-52;
    object-fit: cover;
    width: 100%;
  }
  .body {
    padding:10px;
    overflow: hidden;
    span {
      @apply
      hidden
      md:block;
      font-size: 12px;
    }
    h1 {
      @apply
      font-bold;
      margin:0;
      font-size: 16px;
    }
  }
}
.newsCard:hover {
  transition: 0.7s;
  box-shadow: 1px 0px 5px #484848;
  cursor: pointer;
  h1 {
    text-decoration: underline;

  }
}
