.newsCard {
  height: 100%;
  position: relative;
  @apply
  bg-white;
  .categoryStripe {
    position: absolute;
    background: rgba(94, 39, 39, 0.87);
    min-width: 50%;
    top: 15px;
    padding: 5px;
    color: white;
  }
  .articleImage {
    @apply 
    h-32
    lg:h-52;
    object-fit: cover;
    width: 100%;
  }
  .body {
    padding:10px;
    overflow: hidden;
    span {
      @apply
      hidden
      md:block;
      font-size: 12px;
    }
    h1 {
      @apply
      font-bold;
      margin:0;
      font-size: 16px;
    }
  }
}
.newsCard:hover {
  transition: 0.7s;
  box-shadow: 1px 0px 5px #484848;
  cursor: pointer;
  h1 {
    text-decoration: underline;

  }
}
