.downloadWrapperGrid {
    @apply
    grid gap-2 grid-cols-1
    lg:grid-cols-4;
}

a {
    width: 100%;
    overflow: hidden;
}
.fileItem {
    @apply
    flex flex-col items-start;
    background: white;
    padding: 10px;
    height: 100%;
    overflow: hidden;

    p {
        width: 100%;
        overflow: hidden;
    }
    .header {
        overflow-wrap: break-word;
    }
    
}

.fileInfoWrapper {
    @apply
        flex items-center;
    .icon {
        @apply
        mr-1;
        height: 10px;
    }
    .fileUrl {
        font-size: 11px;
    }

}
.fileItem:hover {
    transition: 0.8s;
    @apply
    shadow-lg font-bold;
}