@import "../../../../variables.scss";

.wrapper {
  @apply
  grid grid-cols-1 gap-2 mt-2 mb-2 px-2
  md:grid-cols-1
  lg:px-10 lg:grid-cols-5;
}

.textBlock {
  @apply 
  col-span-1 bg-white p-4
  lg:col-span-4;
}

.sidebar {
  @apply grid gap-2 h-min;
}
.sidebarItem {
  .header {
    background: #252931;
    color:white;
    padding: 5px;
  }
  .body {
    padding:5px;
    background: white;
  }
}