<app-subpage-header [pageTitle]="'Zentrale Grundausbildung'"></app-subpage-header>
<div class="wrapper">
  <div class="textBlock">
    <app-editorjs-wrapper [jsonInput]="textblockJson"></app-editorjs-wrapper>
  </div>
  <div class="sidebar">
    <app-contact-person-list [qualifiedPersonList]="AnsprechpartnerListe"></app-contact-person-list>
    <div class="sidebarItem">
      <div class="header">
        Das bekommst du
      </div>
      <div class="body">
        <app-editorjs-wrapper [jsonInput]="whatYouWillGetJson"></app-editorjs-wrapper>
      </div>
    </div>
    <div class="sidebarItem">
      <div class="header">
        Das solltest du mitbringen
      </div>
      <div class="body">
        <app-editorjs-wrapper [jsonInput]="whatYouWillNeedJson"></app-editorjs-wrapper>
      </div>
    </div>
  </div>
</div>
