<div class="selectionSquadWrapper" @fadeIn>
  <div class="newsGrid">
    <div *ngFor="let post of posts; index as i">
      <app-news-card
        [routerLink] = "['/artikel','auswahlkader' ,post.id]"
        [imageUrl]="post.Artikelbild"
        [dateString]="post.createdAt"
        [titel]="post.Titel"
      ></app-news-card>
    </div>
  </div>
  <div class="featuredPersonGrid">

      <app-featured-person
      *ngFor="let item of qualifiedPersons; index as i"
      [position]="item.position"
      [imageUrl]="item.profilImage"
      [name]="item.name"
      [surname]="item.surname"
      [email]="item.email"
      [mobilePhone]="item.mobile"
      [summary]="item.summary"
    >
  </app-featured-person>
    


  </div>
  <!--
    <div class="qualifiedPersonsGrid">
    <div *ngFor="let item of qualifiedPersons; index as i">

        <app-qualified-person-card
        [titel]="item.position"
        [imageUrl]="item.profilImage"
        [name]="item.name"
        [surname]="item.surname"
        [email]="item.email"
        [mobilePhone]="item.mobile"
      >
    </app-qualified-person-card>
      
    </div>
    

  </div>
  -->
  
 <div class="teamGrid">
   <div *ngFor="let team of selectionSquadTeams; index as i">
     <app-team-card
      [teamName]="team.Mannschaftsname"
      [teamImageUrl]="team.Teambild.data.attributes.url"
      [trainer]="team.Trainer"
      [trikotsList]="team.Trikots.data"
     >
     </app-team-card>
   </div>
 </div>

</div>
