@import "../../../variables.scss";

.selectionSquadWrapper {
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  @include media-breakpoint-sm {
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .newsGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    @include media-breakpoint-lg {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-sm {
      background: none;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .teamGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    @include media-breakpoint-md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .teamCard {
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    .header {
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      background: #252931;
      padding:10px;
      color:white;
    }
    .teamImage {
      width: 100%;
    }
    .body {
      padding:10px;
    }
  }

  /*
  .playerGrid {
    display: grid;
    gap:10px;
    grid-template-columns: 169px 169px 169px 169px 169px 169px;
    //grid-template-columns: repeat(6, 1fr);

  }
  */

}
