@import "../../../../variables.scss";

.rulesWrapper {
  @apply
  grid gap-2 mt-2 mb-2 px-2
  lg:grid-cols-4 lg:px-10;
  
}

.textAreaWrapper {
  @apply
  p-2 bg-white
  lg:p-4 lg:col-span-3;
}

.contactItems {
   .header {
    background: #252931;
    color:white;
    padding: 5px;
  }
  .body {
    background:white;
    padding:5px;
  }

  .contactItem {
    @apply
    grid grid-cols-4;
    .profileImage {
      @apply flex justify-center items-center;
      img {
        height: 40px;
      }
      
    }
    .textWrapper {
      @apply
      col-span-3;
      .position {
      font-weight: bold;
    }
    }
    
  }
}

.listStyle {
  list-style: disc;
  padding-left: 15px;
}