<div class="appointmentHeaderWrapper">
  <div class="navBar">
    <div class="backWrapper">
      <img src="/assets/icons/arrow-left.svg" />
      <span>Zurück</span>
    </div>
    <div class="logoWrapper">
      <app-page-logo [isSmall]="true"></app-page-logo>
    </div>
    <div class="downloadWrapper">
      <img src="/assets/icons/icon-pdf.svg" />
      <span>PDF herunterladen</span>

    </div>
  </div>
  <div class="appointmentInfoWrapper">
    <span>2020-01-01 - 00:00Uhr</span>
    <h1>Hier steht der Titel des Termins</h1>
  </div>

</div>
