@import "../../../variables.scss";

.appointmentHeaderWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top:0;
  .navBar {
    width: 1000px;
    background: rgba(37, 41, 49, 0.95);
    padding:10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .backWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
      cursor: pointer;
      img {
        height: 25px;
      }
      span {
        font-size: 14px;
      }
      @include media-breakpoint-md {
        margin-bottom: 10px;

      }
    }
    .logoWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .downloadWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color:white;
      cursor: pointer;
      a {
        display: flex;
        align-items: center;
        color:white;
        text-decoration: none;
      }
      img {
        height: 25px;
      }
      span {
        font-size: 14px;
      }
      @include media-breakpoint-md {
        margin-top: 10px;
        justify-content: center;
      }
    }
    @include media-breakpoint-md {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .appointmentInfoWrapper {
    width: 1000px;
    padding: 10px;
    background: #b7b7b7eb;
    text-align: left;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    span {
      font-size: 12px;
    }
    h1 {
      margin:0;
      font-size: 22px;
    }
    @include media-breakpoint-md {
      width: 100%;
      text-align: center;
    }
  }
}
