<div class="header-jumbotron">
    <h1>Jetzt Sponsor werden</h1>
    <p>
     Untersützen Sie den lokalen Sport in der Region rund um Kiel
    </p>
</div>
<div class="textBox">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</div>
<div class="featuredReasonsGrid">
    <div class="factItem">
        <img src="/assets/pages/sponsoring/diagram.png" />
        Genaue Daten über den Erfolg am Ende der Laufzeit
    </div>
    <div class="factItem">
        <img src="/assets/pages/sponsoring/webseite.png" />
        Platzierung des Firmenlogos auf der Webseite
    </div>
    <div class="factItem">
        <img src="/assets/pages/sponsoring/megaphon.png" />
        Social Media Feed am Start der Zusammenarbeit (Postings, Reels)
    </div>
</div>
<div class="engagementWrapper">
    <h2 style="margin-bottom: 20px;">Konnten wir das Interesse wecken?</h2>
    <a href="mailto:pressewart@handball-region-foerde.de?subject=Sponsoring HG Foerde" class="contactButton">Jetzt Kontakt aufnehmen</a>
</div>