<div class="header-jumbotron">
    <h1>Jetzt Sponsor werden</h1>
    <p>
     Untersützen Sie den lokalen Sport in der Region rund um Kiel
    </p>
</div>
<div class="textBox">
    <div>
        <h2>Der Verband</h2>
        Die Handballgemeinschaft Region Förde ist ein Zusammenschluss der Kreishandballverbände Kiel und Plön. Wir organisieren den Spielbetrieb von der Regionsklasse bis zur Regionsoberliga. Etwa 30 Vereine mit Teams verschiedener Altersklassen gehören zum Einzugsgebiet.

    </div>
    <div>
        <h2>Unterstüzen Sie die freiwilige Arbeit</h2>
        Mit einem Sponsoring unterstützen Sie aktiv die vielen ehrenamtlichen Helfer bei ihrer Arbeit und eröffnen neue Möglichkeiten. 
    </div>
</div>
<div class="featuredReasonsGrid">
    <div class="factItem">
        <img src="/assets/pages/sponsoring/diagram.png" />
        Genaue Daten über den Erfolg am Ende der Laufzeit
    </div>
    <div class="factItem">
        <img src="/assets/pages/sponsoring/webseite.png" />
        Platzierung des Firmenlogos auf der Webseite
    </div>
    <div class="factItem">
        <img src="/assets/pages/sponsoring/megaphon.png" />
        Social Media Feed am Start der Zusammenarbeit (Postings, Reels)
    </div>
</div>
<div class="engagementWrapper">
    <h2 style="margin-bottom: 20px;">Konnten wir das Interesse wecken?</h2>
    <a href="mailto:pressewart@handball-region-foerde.de?subject=Sponsoring HG Foerde" class="contactButton">Jetzt Kontakt aufnehmen</a>
</div>