@import "../../../variables.scss";
.youthWrapper {
  padding: 40px 50px;

  @include media-breakpoint-sm {
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  @include media-breakpoint-lg {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-breakpoint-sm {
    background: none;
    grid-template-columns: repeat(1, 1fr);
  }
}

.contactPersonGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  @include media-breakpoint-md{
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-breakpoint-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-breakpoint-xs {
    grid-template-columns: repeat(1, 1fr);
  }
}

.playingClassesGrid {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  @include media-breakpoint-sm {
    grid-template-columns: repeat(1, 1fr);

  }
}

.card {
  background: white;
  .cardHeader {
    background: #252931;
    padding:10px;
    color:white;
  }
  .cardBody {
    padding:10px;
  }
}
