@import "../../../variables.scss";
.youthWrapper {
  @apply
  px-2 pt-2
  lg:px-10;
}

.newsGrid {
  @apply
  grid gap-2 grid-cols-2
  lg:grid-cols-6 lg:mb-2;

}

.contactPersonGrid {
  @apply
  pt-2 grid gap-2 grid-cols-2 mb-2
  lg:grid-cols-6;

}

.playingClassesGrid {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  @include media-breakpoint-sm {
    grid-template-columns: repeat(1, 1fr);

  }
}

.card {
  background: white;
  .cardHeader {
    background: #252931;
    padding:10px;
    color:white;
  }
  .cardBody {
    padding:10px;
  }
}
