@import "../../../variables.scss";
.articleHeaderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top:0;
  background: rgba(37, 41, 49, 0.95);

  .navBar {
    width: 1000px;
    padding:10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-md {
      width: 100%;
    }
    @include media-breakpoint-xs {
      flex-direction: column;
      align-items: center;
    }
    .backButtonWrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      @include media-breakpoint-xs {
        margin-bottom: 10px;
      }
      p {
        margin: 0;
        margin-left: 5px;
        color:white
      }
    }:hover{
       text-decoration: underline;
     }
    .logo {
      height: 30px;
      @include media-breakpoint-xs {
        height: auto;
        width: 100%;
      }
    }
  }
}
