.appointmentWidget {
  border-radius: 2px;
  .header {
    @apply 
    text-white p-2;
    background: #252931;
  }
  .body {
    @apply 
    bg-white p-1;
    .item {
      @apply 
      flex items-center m-1 p-2;
      background: #e6e6e6;
      span {
        font-size: 12px;
      }
      h2 {
        font-size: 14px;
        margin: 0;
        margin-left: 10px;

      }
    }
    .item:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
