.appointmentWidget {
  border-radius: 2px;
  .header {
    padding:10px;
    background: #252931;
    color:white;
  }
  .body {
    padding:10px;
    background: white;
    .item {
      display: flex;
      align-items: center;
      margin:5px;
      padding: 10px;
      background: #e6e6e6;
      span {
        font-size: 12px;
      }
      h2 {
        font-size: 14px;
        margin: 0;
        margin-left: 10px;

      }
    }
    .item:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
