<div class="featuredPersonWrapper">
    <img  class="profileImage" src="/assets/icons/user.png" />
    <div class="personDetails">
        <p class="fullName">{{name}} {{surname}}</p>
        <div class="contactItem" *ngIf="email">
            <img class="icon" src="/assets/icons/mail.svg" />
            <span><a href="mailto:{{email}}]">{{email}}</a></span>
        </div>
        <div class="contactItem" *ngIf="mobilePhone">
            <img class="icon" src="/assets/icons/phone.svg" />
            <span>{{mobilePhone}}</span>

        </div>
    </div>
    <div class="summary" *ngIf="summary">
        {{summary}}
    </div>
</div>
