.featuredPersonWrapper {
    @apply 
    bg-white p-2 grid gap-1 grid-cols-6;

    .profileImage {
        @apply 
        rounded-full p-2 mx-auto w-20 h-20
        lg:w-32 lg:h-32 lg:p-0;
    }

    .personDetails {
        @apply 
        col-span-6
        lg:col-span-6;

        .fullName {
            @apply 
            text-xl font-bold flex items-center flex-col;
            span {
                @apply 
                text-sm font-normal ml-2;
            }
        }

        .contactItem {
            @apply 
            flex items-center m-1;
        }

        .noContactData {
            @apply 
            text-sm text-gray-500 text-center;
        }

        .icon {
            @apply mr-1;
            height: 20px;
        }
    }

    .summary {
        @apply 
        col-span-6 p-1 text-justify;
    }
}