<div class="featuredPersonWrapper">
    <div class="personDetails">
        <img  class="profileImage" src="/assets/icons/user.png" />
        <p class="fullName">{{name}} {{surname}} <span>({{position}})</span></p>
        <div class="noContactData" *ngIf="!email && !mobilePhone">
            Keine Kontaktdaten vorhanden
        </div>
        <div class="contactItem" *ngIf="email">
            <img class="icon" src="/assets/icons/mail.svg" />
            <span><a href="mailto:{{email}}]">{{email}}</a></span>
        </div>
        <div class="contactItem" *ngIf="mobilePhone">
            <img class="icon" src="/assets/icons/phone.svg" />
            <span>{{mobilePhone}}</span>

        </div>
    </div>
    <div class="summary" *ngIf="summary">
        {{summary}}
    </div>
</div>
