@import "../../../variables.scss";

.moreNewsTitle {
  @apply 
  mt-5 mb-5 font-bold hidden 
  sm:hidden 
  md:px-2 md:block 
  lg:block lg:text-2xl lg:px-10;
}
.loadMoreArticlesWrapper { 
  @apply 
  px-2 flex justify-end mb-2
  lg:px-10;
}
.newsOverviewPageLink {
  border: 1px solid #252931;
  @apply 
    p-1 text-xs;
}
.newsOverviewPageLink:hover {
  transition: 0.8s;
  background: #252931;
  @apply 
    text-white;
}
.sectionTitle {
  @apply
  mt-2 mb-2 font-bold px-2 text-lg
  lg:text-2xl lg:px-10 lg:mt-5 lg:mb-5;
}
.newsArea {
  @apply  
  grid gap-2 px-2 mt-2 mb-2 grid-cols-2
  sm:gap-2 sm:px-2 sm:mt-2 sm:mb-2 sm:grid-cols-2 
  md:grid-cols-2 
  lg:grid-cols-5 lg:px-10;
}


.homeWidgetsWrapper {
  @apply 
  grid gap-2 px-2 mb-2
  lg:grid-cols-2 lg:px-10
}

.sponsoren {
  .header {
    @apply 
    p-2 text-white;
    background: #252931;
  }
  .footer {
    background-color: white;
    border-top: 1px solid #eaeaea;
    @apply
    p-2;
  }
  .sponsorGrid {
    @apply
    grid grid-cols-2 gap-0
    sm:grid-cols-3 sm:gap-0
    lg:grid-cols-8 lg:gap-2;
    background: white;
    border-radius: 2px;

    .sponsorItem {
      img {
        @apply 
        bg-gray-50 p-2
        lg:bg-transparent;
        width: 100%;
        height: 80px;
        object-fit: contain;
        cursor: pointer;
      }
  }

  }
}

.becomeASponsorWrapper {
  background-color: #252931;
  color: white;
  @apply
  flex flex-col justify-center items-center p-4;
  .icon {
    height: 40px;
  }

  .becomeSponsorCta {
    margin-top: 10px;
    border: 1px solid white;
    padding: 5px;
  }
  .becomeSponsorCta:hover {
    transition: 0.8s;
    background-color: white;
    color: #252931;
    cursor: pointer;
  }
}
.sponsoringLink:hover {
  text-decoration: underline;
  cursor: pointer;
}
.leagueFacts {
  @apply
  grid gap-2 px-2 mb-2 grid-cols-2
  lg:grid-cols-4 lg:px-10;
  .factItem {
    @apply
    text-white text-center p-5 flex flex-col items-center justify-center h-40;
    background: #252931;
  
  }
  .factItemIcon {
    height: 50px;
  } 
}
.seasonOverview {
  @apply
  grid gap-2 px-2 mb-2
  lg:grid-cols-3 lg:px-10;
  .seasonItem {
    @apply
    bg-white;
    .header {
      background: #252931;
      @apply 
      text-white p-2;
    }
    .clubsWrapper {
      @apply
      grid gap-2 p-2
      lg:grid-cols-2;
      .club {
        @apply
        bg-slate-100 text-center p-1 flex;
      }
      .teamLogo {
        @apply
        mr-2;
        height: 30px;
      }

    }
  }
}
.landingGallery {
  .imageGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    gap: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    @include media-breakpoint-lg {
      grid-template-columns: auto auto ;
    }
    @include media-breakpoint-sm {
      padding:5px;
      grid-template-columns: auto ;
    }
  }
  text-align: center;
  .galleryTitle {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .galleryImage {
    border-radius: 2px;
    width: 100%;
    object-fit: cover;
  }
}
