<div class="qualifiedPersonWrapper">
  <div class="cardHeader">
    {{titel}}
  </div>
  <div class="cardBody">
    <img class="profileImage" src="{{imageUrl}}" />
    <h2 class="personName">{{name}} {{surname}}</h2>
    <hr class="divider">
    <div class="contactArea">
      <div class="contactItem">
        <img height="20" src="/assets/icons/mail.svg" />
        <span>{{email}}</span>
      </div>
      <div class="contactItem">
        <img height="20" src="/assets/icons/phone.svg" />
        <span>{{mobilePhone}}</span>
      </div>

    </div>
  </div>

</div>
