<div class="qualifiedPersonWrapper">
  <div class="cardHeader" *ngIf="titel">
    {{titel}}
  </div>
  <div class="cardBody">
    <img *ngIf="imageUrl === undefined" class="profileImage" src="/assets/icons/user.png" />
    <img *ngIf="imageUrl !== undefined" class="profileImage" src="{{env.strapiUrl  + imageUrl}}" />

    <h2 class="personName">{{name}} {{surname}}</h2>
    <hr class="divider">
    <div class="contactArea">
      <div class="contactItem">
        <img *ngIf="email" height="20" src="/assets/icons/mail.svg" />
        <span><a href="mailto:{{email}}]">{{email}}</a></span>
      </div>
      <div class="contactItem">
        <img *ngIf="mobilePhone" height="20" src="/assets/icons/phone.svg" />
        <span>{{mobilePhone}}</span>
      </div>

    </div>
  </div>

</div>
