@import "../../../variables.scss";

.refereeWrapper {
  @apply
  px-1 pt-2
  lg:px-10
  ;
  .newsGrid {
    @apply
    grid gap-2 mb-2 grid-cols-2 mt-2
    md:grid-cols-2
    lg:grid-cols-6
    ;

  }

  .mainSectionGrid {
    @apply
    grid grid-cols-1 gap-2
    lg:grid-cols-4
  }

  .subpagesGrid {
    @apply
    grid gap-2 grid-cols-2
    lg:grid-cols-3 lg:col-span-3;

    .suppageWidget {
      background: #252931;
      @apply
      text-white flex flex-col items-center justify-center p-5;
    }
    .suppageWidget h2 {
      @apply
      text-lg font-bold;
      margin: 0;
      text-align: center;
    }
    .suppageWidget p{
      @apply
      text-sm;
      text-align: center;
      margin-bottom: 5px;
    }
    .suppageWidget button{
      margin-top: 10px;
      border: 1px solid white;
      background: none;
      padding: 10px;
      color:white;
      cursor: pointer;
    }
    .suppageWidget button:hover{
      background: white;
      transition: 0.8s;
      color: #252931;
    }
  }
  .qualifiedPersonGrid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    @include media-breakpoint-sm {
      gap: 5px;
      grid-template-columns: 1fr 1fr;
    }
  }

  .contactItems {
    .header {
      background: #252931;
      color:white;
      padding: 5px;
    }
    .body {
      background:white;
      padding:5px;
    }

    .contactItem {
      @apply
      grid grid-cols-5 mb-2;
      .profileImage {
        @apply flex justify-center items-center;
        img {
          height: 40px;
        }
        
      }
      .textWrapper {
        @apply
        col-span-4;
        .position {
        font-weight: bold;
      }
      }

      .mailWrapper {
        @apply flex items-center;
        a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        img {
          @apply mr-1;
          height: 15px;
        }
        span {
          font-size: 12px;
        }
      }
      .mailWrapper:hover {
       text-decoration: underline;
      }
      
    }
  }
}
