<div class="refereeWrapper" @fadeIn>
  <div class="mainSectionGrid">
    <div class="subpagesGrid">
      <div class="suppageWidget">
        <h2>Zentrale Grundausbildung</h2>
        <p>Der Weg zum Schiedsrichter</p>
        <button [routerLink] = "['/schiedsrichter','zentrale-grundausbildung']">Mehr Informationen</button>
      </div>
      <div class="suppageWidget">
        <h2>Fortbildungen</h2>
        <p>Terminübersicht und weitere Informationen</p>
        <button [routerLink] = "['/schiedsrichter','fortbildung']">Mehr Informationen</button>
      </div>
      <div class="suppageWidget">
        <h2>Regelwerk</h2>
        <p>Viele aktuelle Informationen</p>
        <button [routerLink] = "['/schiedsrichter','regelwerk']">Mehr Informationen</button>
      </div>
    </div>
    <div class="contactItems">
      <div class="header">
        Ansprechpartner
      </div>
      <div class="body">
        <div class="contactItem" *ngFor="let contact of qualifiedPersonList; index as i">
          <div class="profileImage" >
            <img *ngIf="contact.profilbild === 'http://localhost:1337undefined'" src="assets/icons/user.png" />
            <img *ngIf="contact.profilbild !== 'http://localhost:1337undefined'" [src]="contact.profilbild" />

          </div>
          <div class="textWrapper">
            <p class="position">{{contact.position}}</p>
          <p class="name">{{contact.vorname}} {{contact.nachname}}</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="newsGrid">
    <div *ngFor="let post of posts; index as i">
      <app-news-card
        [routerLink] = "['/artikel','schiedsrichter' ,post.id]"
        [imageUrl]="post.Artikelbild"
        [dateString]="post.createdAt"
        [titel]="post.Titel"
      ></app-news-card>
    </div>
  </div>
</div>
