
  <div class="navigationBar">
    <div class="backWrapper" (click)="navigateBack()">
      <img class="backIcon" src="/assets/icons/arrow-left.svg" />
      <span class="backText">Zurück</span>
    </div>
    <app-page-logo [isSmall]="true" ></app-page-logo>
  </div>
  <app-map [clubId]="clubId"></app-map>
  <div @fadeIn>
    <div class="wrapperLogo">
      <div class="clubInfoCard">
          <img class="clublogo" src="{{clubLogoUrl}}">
          <div class="clubInfoText">
            <h1 class="clubTitle">{{clubName}}</h1>
            <div class="adressWrapper">
              <img style="height: 20px;" src="/assets/icons/location.png" />
              <span>{{address.street}}, {{address.housenumber}} {{address.city}}</span>
            </div>
            
            <a href="{{clubWebsiteUrl}}" class="websiteLink">{{clubWebsiteName}}</a>
          </div>
      </div>
      <div class="legendeWrapper">
        <div class="legendItemWrapper">
          <img class="legendItem" src="/assets/icons/football.png" />
          <span class="legendItemText">Anzahl der Sportstätten: {{gymnasiumList.length}}</span>
        </div>
      </div>
    </div>
    <div class="generalFactsWrapper">
      <div class="trainingTimeWrapper">
        <div class="header">Trainingszeiten</div>
        <div class="body">
          <app-editorjs-wrapper [jsonInput]="trainingsTimes"></app-editorjs-wrapper>
          <p *ngIf="trainingsTimes === null">Keine Zeiten hinterlegt...</p>
        </div>
       
        
      </div>
      <div class="qualifiedPersonWrapper">
        <app-contact-person-list [qualifiedPersonList]="qualifiedPersonList"></app-contact-person-list>

      </div>
      <!--
              <div class="trainingTimeWrapper">
        <div class="header">Trainingszeiten</div>
      </div>
      <div class="trainingTimeWrapper">
        <div class="header">Trainingszeiten</div>
      </div>
      <div class="trainingTimeWrapper">
        <div class="header">Trainingszeiten</div>
      </div>
      -->

    </div>
    

  <div class="clubsDetailWrapper">
    <div class="teamGrid">
      <div *ngFor="let team of teamList; index as i">
        <app-team-card
          [teamName]="team.name"
          [teamImageUrl]="team.groupImage"
          [trainer]="team.trainer"
          [trikotsList]="team.trikots"
        ></app-team-card>
      </div>
    </div>
  </div>



</div>

