@import "../../../variables.scss";

.navigationBar {
  @apply 
  px-2 pt-2 pb-2
  lg:px-10;
  background: #252931;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .backWrapper {
    display: flex;
    align-items: center;
    cursor:pointer;
    .backIcon {
      height: 40px;
    }
    .backText {
      color: white;
    }
  }
  .backWrapper:hover {
    .backText {
      text-decoration: underline;
    }
  }
}

.clubTitle {
  @apply text-xl text-center;
  font-weight: bold;
}
.wrapperLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legendeWrapper {
  background-color: #252931;
  width: 300px;
  padding: 10px;

  .legendItemWrapper {
    display: flex;
    display: flex;
    justify-content: center;
  }

  .legendItem {
    height: 25px;;
  
  }
  .legendItemText {
    margin-left: 5px;;
    color:white;
  }
}

.adressWrapper {
  display: flex;
  align-items: center;
}

.clubInfoCard {
  z-index: 2;
  margin-top: -40px;
  width: 300px;
  background: white;
  padding:10px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .clublogo {
    height: 100px;
  }
  .clubInfoText {
    text-align: center;
    .websiteLink {
      color:#252931;
      text-decoration: none;
    }
  }
}

.clubsDetailWrapper {
  padding: 10px 50px 50px;
  @include media-breakpoint-sm {
    padding:50px 5px 5px;
  }


  .teamGrid {
    display: grid;
    gap:10px;
    grid-template-columns: repeat(5, 1fr);
  }
}
