@import "../../../variables.scss";


.clubsWrapper {
  padding: 40px 50px 50px;
  @include media-breakpoint-sm {
    padding:25px 5px 5px;
  }
  .clubsGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap:10px;
    @include media-breakpoint-md {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-breakpoint-sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
